# データベース設定
DB_HOST=10.x.x.x
DB_USER=username-here
DB_PASSWORD=password-here
DB_DATABASE=database-name-here
DB_CONNECTION_LIMIT=10

# メール（iCloud SMTP）設定
SMTP_HOST=smtp-address-here
SMTP_PORT=587
SMTP_USER=smtp-user-here
SMTP_PASS=smtp-password-here
FROM_EMAIL="ふじゅ〜ペイ" <from-mai-here>

# セッション設定
SESSION_SECRET=session-secret-here

# アクセス設定
APP_BASE_URL=https://access-url-here
